---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/common/Loader.astro';
import LandingHero from '../components/landing/LandingHero.astro';
---

<Layout title="14 Diciembre | D&A">
  <Loader />
  <main class="h-screen w-full overflow-hidden">
    <LandingHero />
  </main>
</Layout>