---
const images = [
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049262/novios_1_jzckfn.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049263/novios_2_oqi2bx.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049262/novios_3_yfmo01.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049263/novios_4_pbiwvi.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049263/novios_5_otcc7h.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049263/novios_6_kqpf1i.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049263/novios_7_gmqy6h.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049263/novios_8_v1bqmh.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049264/novios_9_wje9mb.webp',
  'https://res.cloudinary.com/cloudinary-autoshn/image/upload/v1764049264/novios_10_k1gthp.webp'
];
---

<section class="overflow-hidden bg-wedding-primary py-8">
  <div class="slider-track flex gap-4 w-[calc(216px*10)]"> 
    
    {images.map((img) => (
      <div class="w-[200px] h-[300px] bg-gray-800 shrink-0 rounded-md overflow-hidden pointer-events-none select-none">
        <img 
          src={img} 
          alt="Foto novios" 
          class="w-full h-full object-cover grayscale opacity-70 hover:opacity-70"
          loading="lazy"
        />
      </div>
    ))}
    
    {images.map((img) => (
      <div class="w-[200px] h-[300px] bg-gray-800 shrink-0 rounded-md overflow-hidden pointer-events-none select-none">
         <img 
          src={img} 
          alt="Foto novios" 
          class="w-full h-full object-cover grayscale opacity-70 hover:opacity-70"
          loading="lazy"
        />
      </div>
    ))}

  </div>
</section>

<style>
  .slider-track {
    animation: scroll 30s linear infinite; /* Ajustado a 30s para suavidad con 10 fotos */
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200px * 10 - 1rem * 10)); } 
  }
</style>